.heading {
  margin-left: 20px;
  font-size: large;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: white;

}

.para {
  display: inline-block;
  padding: 10px;
  margin-right: 30px;
  font-size: larger;

}


.le_content {
  position: relative;
  bottom: 90px;
  margin-left: 40px;
  color: rgb(72, 69, 69);
  font-size: xx-large;
}

.le_img {
  overflow: hidden;
  width: 100%;
}

.s1 {
  display: flex;
  gap: 50px;
}

.about_img {
  margin-left: 200px;
  height: 600px;
  opacity: 0.7;
  display: inline-block;
}

.about_content {
  width: 650px;
  height: 750px;
  margin-right: 150px;

}

.about h4,
h3,
p {
  margin-right: 80px;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  line-height: 35px;
}

.about_content h3 {
  text-align: center;
  color: rgb(35, 32, 32);
  margin-top: 15px;
}

.about_content h4 {
  margin-left: 200px;
  font-size: x-large
}

.para1 {
  margin-top: 25px;
}

.para2 {
  color: rgb(107, 104, 104);
  margin-top: -25px;

}

.ourmenu_heading {
  margin-left: 400px;
  font-size: xx-large;
}

.s2 {
  display: flex;
}

.ourmenu {
  margin-left: 200px;
}

.ourmenu_img {
  margin-left: 10px;
  margin-bottom: 100px;
  opacity: 0.7;
}

.para_content {
  color: rgb(56, 53, 53);
  font-size: medium;
}

.hor_line {
  margin-bottom: 200px;
  width: 1250px;
  opacity: 0.7;
}

.con_heading {
  margin-left: 200px;
}

.con_para {
  margin-left: 200px;
  font-size: medium;
}

.con_h2 {
  margin-left: 200px;
  color: darkcyan;
}

.c_hor {
  width: 1100px;
}

.send {
  margin-left: 250px;
  margin-top: 50px;
  background-color: rgb(143, 139, 139);
  width: fit-content;
  padding: 10px;
}